ac-comphist.dat
smex-items
.lsp-session*
.recentf
bookmarks

.cache/
.cask/
.junk/
elpa/
url/
emms/
transient/
image-dired/
lsp-cache/
.extension/
.mc-lists.el
session*
.dap-breakpoints
eshell/
games/
workspace/
eclipse.jdt.ls/
.log*
*.elc
request/

init.el
auto-save-list
el-get
