ac-comphist.dat
smex-items
.lsp-session*
.recentf
bookmarks

.cache/
.cask/
.junk/
elpa/
url/
emms/
transient/
image-dired/
lsp-cache/
.extension/
.mc-lists.el
session*
.dap-breakpoints
eshell/
games/
workspace/
eclipse.jdt.ls/
.log*
*.elc
request/

init.el
auto-save-list
el-clone/
irony/
.org-id-locations
htmlize.el

snippets/*
!snippets/.gitkeep

phpactor/
eln-cache/
amx-items
forge-database.sqlite

recentf

projectile-bookmarks.eld
projectile.cache

.persistent-scratch

history
.metals
async-bytecomp.log
early-init.el
nov-places
/var/
/hacker-typer/
/intelephense/
/projects
ido.last
tramp

tutorial/
company-statistics-cache.el
/org-roam.db
/emojis/
/places

*.html
/multisession/
